doctype html

html(lang="en", dir="ltr")
	include head
	include components

body.dark
	include ../_base/nav.pug

	block content

	footer.small
		each line in content.footer
			p !{marked(line)}


	include footer-scripts

