mixin menucontent(options)

	- buttonClass = 'small';

	.aside__avatar
		+img({
			src:'avatars/avatar.jpg',
			width:'120',
			height:'120',
			alt: content.aboutMe.name,
			lazy: 'false'
		})
	.aside__legend
		| #{content.aboutMe.name}
		.small
			| #{content.aboutMe.description}
	.aside__social-links
		if content.aboutMe.skypeLink
			+button({
				type:'icon',
				icon:'skype-with-circle',
				classes: buttonClass,
				href: content.aboutMe.skypeLink,
				target: '_self'
			})
		if content.aboutMe.githubLink
			+button({
				type:'icon',
				icon:'github-with-circle',
				classes: buttonClass,
				href: content.aboutMe.githubLink
			})
		if content.aboutMe.linkedIn
			+button({
				type:'icon',
				icon:'linkedin-with-circle',
				classes: buttonClass,
				href: content.aboutMe.linkedIn
			})
		if content.aboutMe.twitter
			+button({
				type:'icon',
				icon:'twitter-with-circle',
				classes: buttonClass,
				href: content.aboutMe.twitter
			})
	.aside__legend
		.small
			| #{content.blogSetup.blogDescription}
