<ng-template ngFor let-paragraph [ngForOf]="bodyContent">

  <h5 *ngIf="paragraph.type === 'title'">{{paragraph.content}}</h5>

  <p *ngIf="paragraph.type === 'text'" [innerHtml]="paragraph.content"></p>

  <div *ngIf="paragraph.type === 'image'">
      <img [src]="paragraph.content"/>
      <p class="small">{{paragraph.legend}}</p>
  </div>

  <!-- <prism-block *ngIf="paragraph.type === 'code'" [code]="paragraph.content" [language]="paragraph.language"></prism-block>-->

  <!-- <ngx-prism *ngIf="paragraph.type === 'code'" [language]="paragraph.language" [code]="paragraph.content"></ngx-prism> -->


</ng-template>
