extends ../_base/layout.pug

block content
  link(rel="stylesheet", href="../css/admin.css")

  .wrapper.skin-red(ng-controller="adminController as vm")
    header.main-header
      a.logo
        span.logo-mini
          | Blog
        span.logo-lg
          | Admin section
    nav.navbar.navbar-static-top
    aside.main-sidebar
      section.main-sidebar
        ul.sidebar-menu
          li.header
            | Stuff
          li
            a(href="#")
              span
                | Statistics
          li
            a(href="#")
              span
                | Posts
          li
            a(href="#")
              span
                | Categories
    .content-wrapper
      section.content-header
        | test header
      section.content
        .row
          .col-md-8
            .box.box-sucess
              .box-header
                | Visitors
              .box-body.no-padding
                div(google-chart chart="vm.chart")
