extends ../_base/layout.pug



                #addtag
                    h2 Categories
                    .edit-tag.js-edit-tag-container
                        .edit-tag__list-container.js-category-list
                            include category-list
                        .edit-tag__form-container
                            h3 Create categories
                            form.js-add-tags(method="put" action="/categories" data-parsley-validate)
                                +input({
                                    text:'category',
                                    name:'category',
                                    classes:'js-category-input',
                                    attributes: {
                                        'required':'required',
                                        'data-parsley-type':'alphanum'
                                    }
                                })
                                +button({
                                        type: 'primary',
                                        icon: 'plus',
                                        text: 'Add a subcategory',
                                        classes:'js-add-subcategory small',
                                        attributes :{
                                            'data-tooltip':'Add a subcategory'
                                        }
                                })
                                .js-subcategory-holders
                                    .edit-tag__subcategory-holder
                                        .edit-tag__subcategory--input
                                            +input({
                                                text: 'subcategory',
                                                name:'subcategory',
                                                classes: 'js-subcategories',
                                                attributes: {
                                                    'required':'required',
                                                    'data-parsley-type':'alphanum'
                                                }
                                            })



                                +button({
                                    type:'submit',
                                    text:'Create category'
                                })
                            .edit-tag__subcategory-holder.sr-only.skeleton
                                        .edit-tag__subcategory--input
                                            +input({
                                                text: 'subcategory',
                                                name:'subcategory',
                                                classes: 'js-subcategories',
                                                attributes: {
                                                    'required':'required',
                                                    'data-parsley-type':'alphanum'
                                                }
                                            })
                                        .edit-tag__subcategory--delete
                                            +button({
                                                type: 'icon',
                                                icon: 'cross',
                                                classes: 'js-remove-subcategory small',
                                                attributes: {
                                                    'data-tooltip':'Remove subcategory'
                                                }
                                            })
