extends ../_base/layout.pug
block append styles
  link(rel="stylesheet", href="../css/admin.css")
  - admin = true
block content
  .admin.wrapper.skin-red.sidebar-mini(ng-controller="adminController as vm" class="{{vm.menuCollapse?'sidebar-collapse':''}}")
    header.main-header
      .logo
        span.logo-mini
          | Blog
        span.logo-lg
          | Admin section
      nav.navbar.navbar-static-top
        a(href="#" role="button" ng-click="vm.menuCollapse = !vm.menuCollapse")
          i.icon-menu
          span.sr-only
            | Toggle navigation
        .navbar-custom-menu
          ul.nav.navbar-nav
            li.dropdown.user.user-menu(ng-class="{open:vm.userMenuOpen}")
              a(ng-click="vm.userMenuOpen = !vm.userMenuOpen")
                img(src="images/icons/user.svg" class="user-image" alt="User Image")
                span user
              ul.dropdown-menu
                li.user-header
                  img.img-circle(src="images/icons/user.svg" alt="user")
                  p
                    | User
                    span
                      | date?

                li.user-footer
                  a.btn.btn-default.btn-flat(href='/login')
                    | Sign out
    aside.main-sidebar
      section.main-sidebar
        ul.sidebar-menu
          li.header
            | content
          li
            a(href="#" ng-click="vm.activeView = 'posts'")
              i.icon-book
              span
                |  Posts
          li
            a(href="#" ng-click="vm.activeView = 'categories'")
              i.icon-shopping
              span
                |  Categories
          li.header
            | Analytics
          li
            a(href="#" ng-click="vm.activeView = 'statistics'")
              i.icon-bar-graph
              span
                |  Statistics
    .content-wrapper(ng-if="vm.activeView == 'posts'" ng-cloak)
      section.content-header
        | Create and edit posts
      section.content
        .row
          .col-md-8
            .box.box-primary
              .box-header.with-border
                h3 Create new post
              .box-body
                form(no-validate ng-submit="vm.sendPost()" name="vm.formContent")
                  div
                    +input({
                        classes:'input',
                        name:'title',
                        text: 'Post title',
                        error: 'Field is at least 4 alphanumerical characters with spaces and basic punctuation only',
                        attributes:{
                            'maxlength':'60',
                            'minlength':'4',
                            'required':'required',
                            'ng-pattern':'/^[0-9A-Za-z\d\ \?\!\.\,]+$/',
                            'ng-model':'vm.postContent.title'
                        }
                    })
                  div
                    +input({
                        type: 'textarea',
                        name: 'body',
                        text: 'Post body',
                        attributes:{
                            'required':'required',
                            'ng-model':'vm.postContent.body'
                        }
                    })
                  select(name="category" ng-model="vm.postContent.category")
                    optgroup(label="{{category.category}}" ng-repeat="category in vm.categories")
                      option(value="{{subcategory.subcategory}}" ng-repeat="subcategory in category.subcategories")
                        | {{subcategory.subcategory}}
                  div(dropzone)
                    | add angular dropzone here
                  +button({
                      type:'submit',
                      text:'submit'
                  })
                  +button({
                      type: 'secondary',
                      text:'cancel',
                      attributes:{
                        'ng-click':'vm.resetPostForm()',
                        'ng-if':'vm.postContent.edit==true'
                      }
                  })

            .box.box-primary
              .box-header.with-border
                h3 Post preview
              .box-body(ng-init="vm.expandedPreview = false")
                .pull-right
                  button.btn-link(ng-click="vm.expandedPreview = !vm.expandedPreview")
                    span(ng-show="vm.expandedPreview")
                      | /\ Compact preview
                    span(ng-show="!vm.expandedPreview")
                      | \/ Full preview
                .post__content
                  article
                    .post__title
                      h2 {{vm.postContent.title}}
                    div(ng-cloak ng-if="vm.postContent.body.length > 1" ng-bind-html="vm.postContent.body | limitHtml: vm.expandedPreview")

          .col-md-4
            .box.box-primary
              .box-header.with-border
                h3 Articles
              .box-body
                ul.products-list.product-list-in-box
                  li.item(ng-repeat="post in vm.postList")
                    .row
                      .col-sm-10
                        .product-img
                          img(src="images/icons/file.svg" alt="Article Image")
                        .product-info
                          .product-title
                            | {{post.title}}
                          .product-description
                            .small
                              | Posted on {{post.date | date: 'EEE dd/MM/yy hh:mma'}}
                            .small(ng-if="post.editdate")
                              | Edited on {{post.editdate | date: 'EEE dd/MM/yy hh:mma'}}
                            small.label.label-primary
                              |  {{post.category}}
                      .col-sm-2
                        +button({
                          type:'icon',
                          icon: 'trash',
                          classes:'small',
                          attributes:{
                            'ng-click':'vm.deletePostConfirm(post)',
                            'data-tooltip':'Delete post',
                          }
                        })
                        +button({
                          type:'icon',
                          icon: 'pencil',
                          classes:'small',
                          attributes:{
                            'ng-click':'vm.editPost(post.postId)',
                            'data-tooltip':'Edit post',
                          }
                      })

    .content-wrapper(ng-if="vm.activeView == 'categories'" ng-cloak)
      section.content-header
        | Edit categories
      section.content
        .row
          .col-md-8
            .box
              .box-header
                | Add tags
              .box-body
                h3 Create categories
                form(ng-submit="vm.createCategory()" name="vm.categoryform")
                  .row
                    .col-md-8
                      div
                        +input({
                            text:'category',
                            name:'category',
                            attributes: {
                                'required':'required',
                                'ng-model':'vm.categoryName'
                            }
                        })

                      div
                        +input({
                            text: 'subcategory',
                            name:'subcategory',
                            error: '{{vm.subCategoryError}}',
                            attributes: {
                                'required':'required',
                                'ng-model':'vm.subCategoryName'
                            }
                        })
                        +button({
                                type: 'icon',
                                icon: 'plus',
                                classes: 'small',
                                attributes :{
                                    'data-tooltip':'Add a subcategory',
                                    'ng-click':"vm.addSubcategory()"
                                }
                        })
                    .col-md-4
                      table.table.table-striped
                        tbody
                          tr
                            th.bg-primary.text-center.text-capitalize.disabled(colspan="2" ng-show="vm.categoryName.length > 0")
                              strong {{vm.categoryName}}
                        tbody
                          tr(ng-repeat="subcategory in vm.subcategories")
                            td
                              | {{subcategory}}
                            td.text-right
                              +button({
                                  type: 'icon',
                                  icon: 'trash',
                                  classes: 'small',
                                  attributes: {
                                    'ng-click':'vm.removeSubcategory($index)',
                                    'data-tooltip':'Remove subcategory'
                                  }
                              })
                  .row
                    .col-md-12
                      +button({
                          type:'submit',
                          text:'Create category'
                      })
            .box
              .box-header
                | edit tags
              .box-body
                h3 {{vm.editTag.category}}
                +input({
                    text: 'subcategory',
                    name:'subcategory',
                    attributes: {
                        'required':'required',
                        'data-parsley-type':'alphanum',
                        'ng-repeat': 'tag in vm.editTag.subcategories',
                        'value':'{{tag.subcategory}}'
                    }
                })
              .box-footer
                +button({
                  type: 'primary',
                  text: 'Edit Category',
                  attributes: {
                    'ng-click':'vm.postEditTag()'
                  }
                })
                +button({
                  type: 'secondary',
                  text: 'Cancel',
                  attributes: {
                    'ng-if': 'vm.editTag.category != undefined',
                    'ng-click': 'vm.editTag = {}'
                  }
                })
          .col-md-4
            .box.no-padding
              .box-header
                .box-title
                  | Available tags
                .box-body
                  table.table.table-striped(ng-repeat="category in vm.categories")
                    tbody
                      tr
                        th.bg-primary.text-capitalize.disabled
                          strong {{category.category}}
                        th.bg-primary.text-right.disabled
                            +button({
                              type: 'icon',
                              icon: 'pencil',
                              classes: 'small',
                              attributes: {
                                'ng-click': 'vm.editTag = category',
                                'data-tooltip':'Edit this category'
                              }
                            })

                    tbody
                      tr(ng-repeat="subcategory in category.subcategories")
                        td
                          | {{subcategory.subcategory}}
                        td.text-right
                          span.label.label-success(ng-if="subcategory.active")
                            | In use


    .content-wrapper(ng-if="vm.activeView == 'statistics'" ng-cloak)
      section.content-header
        | Visitor stats
      section.content
        .row
          .col-md-8
            .box.box-success.no-padding
              .box-header
                .box-title
                  | Visitors

              .box-body.no-padding
                div(google-chart chart="vm.visitorChart" agc-on-ready="vm.visitorChart.loaded = true")
              .overlay(ng-if="!vm.visitorChart.loaded")
                i.fa.glyphicon.glyphicon-refresh.spin
          .col-md-4
            .box.box-warning.no-padding
              .box-header
                .box-title
                  | Platform
              .box-body
                div(google-chart chart="vm.platformChart" agc-on-ready="vm.platformChart.loaded = true")
            .box.box-warning.no-padding
              .box-header
                .box-title
                  | Device
              .box-body
                div(google-chart chart="vm.deviceChart" agc-on-ready="vm.platformChart.loaded = true")
      section.content-header
        | Browser Stats
      section.content
        .row
          .col-md-4
            .box.box-success.no-padding
              .box-header
                .box-title
                  | Chrome
              .box-body
                div(google-chart chart="vm.chromeChart" agc-on-ready="vm.osChart.loaded = true")
          .col-md-4
            .box.box-warning.no-padding
              .box-header
                .box-title
                  | Firefox
              .box-body
                div(google-chart chart="vm.firefoxChart" agc-on-ready="vm.osChart.loaded = true")
          .col-md-4
            .box.box-danger.no-padding
              .box-header
                .box-title
                  | Opera
              .box-body
                div(google-chart chart="vm.operaChart" agc-on-ready="vm.osChart.loaded = true")
        .row
          .col-md-4
            .box.no-padding
              .box-header
                .box-title
                  | Internet explorer
              .box-body
                div(google-chart chart="vm.IEChart" agc-on-ready="vm.osChart.loaded = true")
          .col-md-4
            .box.no-padding
              .box-header
                .box-title
                  | Safari
              .box-body
                div(google-chart chart="vm.safariChart" agc-on-ready="vm.osChart.loaded = true")
          .col-md-4
            .box.box-warning.no-padding
              .box-header
                .box-title
                  | OS
              .box-body
                div(google-chart chart="vm.osChart" agc-on-ready="vm.osChart.loaded = true")
