$tile-size : 160px;
$tile-padding : 10px;

.row {
  @extend %clearfix;
  .row__sidebar{
    width: 35%;
    float:right;
  }
  .row__main{
     width: 65%;
    float: left;
  }
}

/*
  Boxes
*/

.box {
  float: left;
  display: block;
  padding: 10px;
  overflow: hidden;
  .expand-content {
    position: absolute;
    display:none;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .content {
    height: 100%;
    position: relative;
    background-color: #ccc;
  }
}

/* Themes */
.box {
    &[data-theme="1"] {
    .content {
      background-color: rgba(0,0,0,.2)
    }
    &::after{
      border-bottom: 7px solid rgba(0,0,0,.2);
    }
  }
  &[data-theme="duolingo"] {
    .content {
      background-color: #7bc142
    }
    &::after{
      border-bottom: 7px solid #7bc142
    }
  }
}

/*

  Box sizes

 */
.box1 {
  width: 75px;
  height: 75px;
}


.box4 {
  width: 326px;
  height: 326px;
}

.box8 {
  width: 670px;
  height: 326px;
}


/*=======================================================
                    Tiles
=======================================================*/
/* Base */
.tile {
  padding: $tile-padding;
  display: inline-block;
  width: $tile-size;
  height: $tile-size;

  .tile__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    [class^="icon"] {
      font-size: $tile-size - ($tile-padding*2);
      line-height: $tile-size - ($tile-padding*2);
    }

    img {
      height: $tile-size - ($tile-padding*2);
      width: $tile-size - ($tile-padding*2);
      display: block;
    }

    .tile__icon,
    .tile__image {
      transition: all .2s linear;
    }

    &:hover > .tile__description {
      bottom: 0;
    }

    &:hover > .tile__icon,
    &:hover > .tile__image {
      transform:scale(1.3);
    }


  }

  .tile__description {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -160px;
    left: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,.6);
    transition: bottom .4s ease-out;
  }
}
/*themes*/
  .tile__content {
    [data-theme="1"] & {
      background-color: rgba(0,0,0,.2);
      [class^="icon"] {
        color: white;
      }
    }
    [data-theme="duolingo"] & {
      background-color: #7bc142;
      [class^="icon"] {
        color: white;
      }
    }
    [data-theme="codeschool"] & {
      background-color: #4cadc0;
      [class^="icon"] {
        color: white;
      }
    }
    [data-theme="twitter"] & {
      background-color: #292f33;
      [class^="icon"] {
        color: #55acee;
      }
    }
  }


/*******************************************************
                      expanded area
********************************************************/

