$tile-size : 160px;
$tile-padding : 10px;
$expander-height : 500px;
$arrow-size : 14px;

.row {
  @extend %clearfix;
  .row__sidebar{
    width: 32%;
    float:right;
    position: relative;

  }
  .row__main{
     width: 65%;
    float: left;
  }
}

/*
  Boxes
*/

.box {
  float: left;
  display: block;
  padding: 10px;
  overflow: hidden;
  .expand-content {
    position: absolute;
    display:none;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .content {
    height: 100%;
    position: relative;
    background-color: #ccc;
  }
}

/* Themes */
.box {
    &[data-theme="1"] {
    .content {
      background-color: rgba(0,0,0,.2)
    }
    &::after{
      border-bottom: 7px solid rgba(0,0,0,.2);
    }
  }
  &[data-theme="duolingo"] {
    .content {
      background-color: #7bc142
    }
    &::after{
      border-bottom: 7px solid #7bc142
    }
  }
}

/*

  Box sizes

 */
.box1 {
  width: 75px;
  height: 75px;
}


.box4 {
  width: 326px;
  height: 326px;
}

.box8 {
  width: 670px;
  height: 326px;
}


/*=======================================================
                    Tiles
=======================================================*/
/* Base */
.tile {
  padding: $tile-padding;
  display: inline-block;
  width: $tile-size;
  height: $tile-size;
  transition: height .4s ease-in-out;
  // data expand cursor pointer
  &::before {
    font-size: ($tile-size - $tile-padding)/2;
    line-height: $tile-size - ($tile-padding*2);
    position: absolute;
    color: rgba(0,0,0,.3);
    margin-left: ($tile-size - (($tile-size - $tile-padding)/2))/3;

  }
  &.expanded {
    height: $expander-height;

   }
   &[data-expand="true"]{
    cursor: pointer
   }
   &.loading,
   &.error {
     .tile__content {
        img,
        [class^="icon"] {
          display: none;
        }
     }
   }
   &.loading{
      @include icon(spinner)
      &::before{
       display: block;
       animation: spin .8s infinite steps(20);
      }
  }
  &.error{
    @include icon(cancel-symbol-inside-a-circle)
  }
  }

  .tile__content {
    width: 100%;
    height: $tile-size - ($tile-padding*2);
    overflow: hidden;



    [class^="icon"] {
      font-size: $tile-size - ($tile-padding*2);
      line-height: $tile-size - ($tile-padding*2);
    }

    img {
      height: $tile-size - ($tile-padding*2);
      width: $tile-size - ($tile-padding*2);
      display: block;
    }

    .tile__icon,
    .tile__image {
      transition: all .15s linear;

    }
    .tile__picture {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: visible;
       &::after {
        content:'';
        opacity: 0;
        width: 10px;
        display: block;
        height: 10px;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        position: absolute;
        bottom: 0;
        z-index: 200000;
        left: ($tile-size - ($tile-padding*4))/2;
      }




    &:hover > .tile__description {
      bottom: 0;
    }

    &:hover > .tile__icon,
    &:hover > .tile__image {
      transform:scale(1.3);
    }
  }

  }


  .tile__description {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -$tile-size;
    left: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,.5);
    transition: bottom .4s ease-out;
    overflow: hidden;
}

.expanded .tile__picture {
    &::after {
       animation-name: popin;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    }
  }


/*themes*/
  .tile__content {
    [data-theme="about"] & {
      background-color: rgba(0,0,0,.2);
      [class^="icon"] {
        color: white;
      }
    }
    [data-theme="duolingo"] & {
      background-color: #7bc142;
      [class^="icon"] {
        color: white;
      }
    }
    [data-theme="codeschool"] & {
      background-color: #4cadc0;
      [class^="icon"] {
        color: white;
      }
    }
    [data-theme="twitter"] & {
      background-color: #292f33;
      [class^="icon"] {
        color: #55acee;
      }
    }
  }

  .tile[data-theme="twitter"] {
       .tile__picture {

       &::after {

        border-bottom: $arrow-size solid darken(#292f33,8);
      }
    }

  }

  .tile[data-theme="duolingo"] {
      .tile__picture {

       &::after {

        border-bottom: $arrow-size solid darken(#7bc142,8);
      }
    }

  }

  .tile[data-theme="codeschool"] {
       .tile__picture {

       &::after {

        border-bottom: $arrow-size solid darken(#4cadc0,8);
      }
    }

  }

  .tile[data-theme="about"] {
    .tile__picture {

       &::after {

        border-bottom: $arrow-size solid rgba(0,0,0,.5);
      }
    }




  }

/*******************************************************
                      expanded area
********************************************************/

.expanded > .tile__expander {
  display: block;
  animation-name: popin;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.tile__expander{
  display: none;
  width: 100%;

  position: absolute;
  left: 0;
  padding: 0px 10px 10px 10px;

  .expanded__content{
    width: 100%;
    display: block;
    height: $expander-height - $tile-size;

  [data-theme="duolingo"] & {
      background-color: darken(#7bc142,8);
    }

  [data-theme="codeschool"] & {
      background-color: darken(#4cadc0,8);
    }

  [data-theme="twitter"] & {
      background-color: darken(#292f33,8);
    }
  [data-theme="about"] & {
      background-color: rgba(0,0,0,.5);
  }
  }
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

@keyframes popin {
    0%   {opacity: 0}
    95%  {opacity: 0}
    100% {opacity: 1}
}


/*******************************************************
                  codeschool tile layouts
********************************************************/

.codeschool-holder{
  padding: 10px;
  height: $expander-height - $tile-size;
  overflow-y: scroll;
  position: relative;
  &__user,
  &__badges {
    @extend %clearfix;
    &--left{
      float: left;
    }
    &--right{
      float: right;
    }
    img {
      border-radius: 100%;
      overflow: hidden;
    }
    .username {

    }
    .score {

    }
  }

    .badge {
      width: 80px;
      float: left;
      margin: 5px;
      p {
        opacity: 0;
        position: absolute;
        width: 90%;
        margin-top: 10px;
        background-color: darken(#4cadc0,25);
        color: white;
        padding: 2px 5px;
        border-radius: 3px;
        left: 10px;
        transition: all .3s ease-in-out;
        z-index: 10;
      }

      img {
        width: 100%; height: auto;
        filter: grayscale(60%);
        transition: transform .2s ease-in-out;

      }
      a::after {
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      width: 10px;
      height: 10px;
      margin-left: 32px;
      margin-top: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid darken(#4cadc0,25);
      transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    }
      a:hover {
        &::after {
          opacity: 1;
          margin-top: -15px;
        }
        p {
          margin-top: -5px;
          opacity: 1;
        }
        img {
          transform: scale(1.07);
          filter: grayscale(0%);
        }

      }
      &.inprogress {
        img {
          filter: grayscale(100%);
        }
      }
    }

}



/*******************************************************
                  duolingo tile layouts
********************************************************/
.duolingo-holder {
  padding: 10px;

  .languages {
    @extend %clearfix;
    background-position: -100px bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;


  }

  .title {
    padding: 5px;
    background-color: rgba(0,0,0,.3);
    font-size: 18px;
    text-align: center;
  }

  .monument {
    width: 100%;
    position: relative;
    display: block;
    height: 107px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
      filter: grayscale(1);
      width: 140%;
      height: auto;
      position: absolute;
      top: 0;
      left: -20%;
    }
  }

  .stats {
    padding: 5px;
    p {
      margin: 0px;
    }
  }

}
