@font-face {
  font-family: "Icons";
  src: url('../fonts/icons/Icons.eot');
  src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
    url('../fonts/icons/Icons.woff2') format('woff2'),
    url('../fonts/icons/Icons.woff') format('woff'),
    url('../fonts/icons/Icons.ttf') format('truetype'),
    url('../fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
  font-family: "Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == bar-graph {
    $char: "\E001";
  }
  @if $filename == book {
    $char: "\E002";
  }
  @if $filename == cancel-symbol-inside-a-circle {
    $char: "\E003";
  }
  @if $filename == check {
    $char: "\E004";
  }
  @if $filename == chevron-thin-down {
    $char: "\E005";
  }
  @if $filename == chevron-thin-left {
    $char: "\E006";
  }
  @if $filename == chevron-thin-right {
    $char: "\E007";
  }
  @if $filename == chevron-thin-up {
    $char: "\E008";
  }
  @if $filename == clock {
    $char: "\E009";
  }
  @if $filename == codeschool {
    $char: "\E00A";
  }
  @if $filename == cross {
    $char: "\E00B";
  }
  @if $filename == duolingo {
    $char: "\E00C";
  }
  @if $filename == ellipsis {
    $char: "\E00D";
  }
  @if $filename == github-with-circle {
    $char: "\E00E";
  }
  @if $filename == linkedin-with-circle {
    $char: "\E00F";
  }
  @if $filename == location-pin {
    $char: "\E010";
  }
  @if $filename == menu {
    $char: "\E011";
  }
  @if $filename == minus {
    $char: "\E012";
  }
  @if $filename == pencil {
    $char: "\E013";
  }
  @if $filename == plus {
    $char: "\E014";
  }
  @if $filename == search {
    $char: "\E015";
  }
  @if $filename == shopping {
    $char: "\E016";
  }
  @if $filename == skype-with-circle {
    $char: "\E017";
  }
  @if $filename == spinner {
    $char: "\E018";
  }
  @if $filename == spinner2 {
    $char: "\E019";
  }
  @if $filename == trash {
    $char: "\E01A";
  }
  @if $filename == twitter-with-circle {
    $char: "\E01B";
  }
  @if $filename == twitter {
    $char: "\E01C";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-bar-graph {
  @include icon(bar-graph);
}
.icon-book {
  @include icon(book);
}
.icon-cancel-symbol-inside-a-circle {
  @include icon(cancel-symbol-inside-a-circle);
}
.icon-check {
  @include icon(check);
}
.icon-chevron-thin-down {
  @include icon(chevron-thin-down);
}
.icon-chevron-thin-left {
  @include icon(chevron-thin-left);
}
.icon-chevron-thin-right {
  @include icon(chevron-thin-right);
}
.icon-chevron-thin-up {
  @include icon(chevron-thin-up);
}
.icon-clock {
  @include icon(clock);
}
.icon-codeschool {
  @include icon(codeschool);
}
.icon-cross {
  @include icon(cross);
}
.icon-duolingo {
  @include icon(duolingo);
}
.icon-ellipsis {
  @include icon(ellipsis);
}
.icon-github-with-circle {
  @include icon(github-with-circle);
}
.icon-linkedin-with-circle {
  @include icon(linkedin-with-circle);
}
.icon-location-pin {
  @include icon(location-pin);
}
.icon-menu {
  @include icon(menu);
}
.icon-minus {
  @include icon(minus);
}
.icon-pencil {
  @include icon(pencil);
}
.icon-plus {
  @include icon(plus);
}
.icon-search {
  @include icon(search);
}
.icon-shopping {
  @include icon(shopping);
}
.icon-skype-with-circle {
  @include icon(skype-with-circle);
}
.icon-spinner {
  @include icon(spinner);
}
.icon-spinner2 {
  @include icon(spinner2);
}
.icon-trash {
  @include icon(trash);
}
.icon-twitter-with-circle {
  @include icon(twitter-with-circle);
}
.icon-twitter {
  @include icon(twitter);
}
