.post__pagination{
  ul {
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      margin-left: 5px;
      &:hover{
        background-color: lighten($color-pink,30);
      }
      &.active{
        background-color: $color-pink;
        color: white;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
}
