footer{
  width: 100%;
  background-color: $color-pink-dark;

.footer__line{
    background-color: $color-pink;
  .line{
    width: 100%;
    display: block;
    height: 2px;
    max-width: $site-width;
    margin: 0 auto;

    background: url("/images/layout/menu/header_behind.svg") no-repeat top left;
  }

}
.footer__content{
  width: 100%;
  display: block;
  max-width: $site-width;
  margin: 0 auto;
  text-align: left;
  display: inline-flex;
  align-content: space-between;
}
}
