
@mixin declare-font-face($font-family, $font-filename, $font-folder, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
  @font-face {
    font-family: $font-family;
    src: url("../fonts/#{$font-folder}/#{$font-filename}.eot");
    src: url("../fonts/#{$font-folder}/#{$font-filename}.eot#iefix") format("embedded-opentype"), url("../fonts/#{$font-folder}/#{$font-filename}.woff") format("woff"), url("../fonts/#{$font-folder}/#{$font-filename}.ttf") format("truetype");
    font-weight: $font-weight;
    font-stretch: $font-stretch;
    font-style: $font-style;
  }
}