mixin box(options)
  - size = options.size || 'panel';
  - expand = options.expand || 'true';
  - theme = options.theme || '1';
  - icon = options.icon || '';


  if size == 'small'
    .box.box1(data-expand=expand data-theme=theme)
      .content
        block

  if size == 'large-tile'
    .box.box4(data-expand=expand data-theme=theme)
      .content
        block

