@font-face {
  font-family: "Icons";
  src: url('temp_iconsIcons.eot');
  src: url('temp_iconsIcons.eot?#iefix') format('eot'),
    url('temp_iconsIcons.woff2') format('woff2'),
    url('temp_iconsIcons.woff') format('woff'),
    url('temp_iconsIcons.ttf') format('truetype'),
    url('temp_iconsIcons.svg#Icons') format('svg');
}

@mixin icon-styles {
  font-family: "Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == calendar-full {
    $char: "\E001";
  }
  @if $filename == cross {
    $char: "\E002";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-calendar-full {
  @include icon(calendar-full);
}
.icon-cross {
  @include icon(cross);
}
