<div class="container">
    <div class="row">
        <div class="col-1 col-md-3">
            <ul>
                <!-- <li>new post</li> -->
                <li> 
                  <a (click)="active = 'edit'">edit post</a>
                </li>
                <li> 
                  <a (click)="active = 'gallery'">Gallery</a>
                </li>
                <!-- <li>tags</li> -->
                <!-- <li>stats</li> -->
            </ul>
        </div>
        <!-- <div class="col-11 col-md-9">
          Post
        </div> -->
        <div *ngIf="active === 'edit'" class="col-11 col-md-9">
          <blog-admin-edit></blog-admin-edit>
        </div>
        <div *ngIf="active === 'gallery'" class="col-11 col-md-9">
          <blog-admin-gallery></blog-admin-gallery>
        </div>
        <!-- <div class="col-11 col-md-9">
          Tags
        </div>
        <div class="col-11 col-md-9">
          Stats
        </div> -->
    </div>
</div>