:host{
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.creation-area,
.preview-area{
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.paragraph-creator {
  display: flex;
  flex-direction: row;
}
