

<div class="creation-area">
  Create post
  <select name="postcategory" id="post-category" [(ngModel)]="postPreview.category">
    <optgroup *ngFor="let category of categories" [label]="category.category">
      <option *ngFor="let subcategory of category.subcategories" [value]="subcategory.subcategory">{{subcategory.subcategory}}</option>
    </optgroup>
  </select>
  <input type="text" name="" id="" [(ngModel)]="postPreview.title">

  headline
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="postPreview.headline"></textarea>

  <div class="paragraph-editor" *ngFor="let paragraph of postPreview.body; index as i">
    <textarea name="" id="" cols="30" rows="10" [(ngModel)]="postPreview.body[i].content"></textarea>
    <button (click)="removeParagraph(i)"> remove this one boss </button>
  </div>

  <div class="paragraph-creator">
    <select name="paragraph-creator-type" id="paragraph-creator-type" [(ngModel)]="paragraphType">
      <option value="text">Text</option>
      <option value="title">Title</option>
      <option value="image">Image</option>
      <option value="code">Code</option>
    </select>

    <select *ngIf="paragraphType === 'code'" name="" id="" [(ngModel)]="paragraphLanguage">
        <option value="html">html</option>
        <option value="javascript">javascript</option>
        <option value="json">json</option>
        <option value="python">python</option>
      </select>
    <button (click)="createParagraph(paragraphType,'', paragraphLanguage)">
      Add paragraph
    </button>

  </div>
</div>
<div class="preview-area">
    Preview
    <div class="row">
        <div class="col-12">
            <article class="post">
            <div class="post-image">
              <img style="width:100%;height:250px;" src="http://via.placeholder.com/350x250">
            </div>
            <div class="post-date-category">
              <div class="date">
                <i class="icon-calendar-full"></i>
                {{postPreview.date | date:'shortDate'}}
              </div>
              <a href="#" title="{{postPreview.category}}">
                <img src="/images/icons/tech/{{postPreview.category}}.svg">
              </a>
            </div>
            <div class="post-body">
               <h2>{{postPreview.title}}</h2>
               <blockquote class="post-description">
                <p>
                   {{postPreview.headline}}
                </p>
               </blockquote>
               <blog-post-body [bodyContent]="postPreview.body"></blog-post-body>
            </div>

          </article>

      </div>
      </div>



</div>
