extends ../_base/layout.pug
block append styles
  link(rel="stylesheet", href="../css/admin.css")
  - admin = true
block content
  .admin.wrapper.skin-red.sidebar-mini(ng-controller="adminController as vm" class="{{vm.menuCollapse?'sidebar-collapse':''}}")
    header.main-header
      .logo
        span.logo-mini
          | Blog
        span.logo-lg
          | Admin section
      nav.navbar.navbar-static-top
        a(href="#" role="button" ng-click="vm.menuCollapse = !vm.menuCollapse")
          i.icon-menu
          span.sr-only
            | Toggle navigation
        .navbar-custom-menu
          ul.nav.navbar-nav
            li.dropdown.user.user-menu(ng-class="{open:vm.userMenuOpen}")
              a(ng-click="vm.userMenuOpen = !vm.userMenuOpen")
                img(src="images/icons/user.svg" class="user-image" alt="User Image")
                span user
              ul.dropdown-menu
                li.user-header
                  img.img-circle(src="images/icons/user.svg" alt="user")
                  p
                    | User
                    span
                      | date?

                li.user-footer
                  a.btn.btn-default.btn-flat(href='/login')
                    | Sign out
    aside.main-sidebar
      section.main-sidebar
        ul.sidebar-menu
          li.header
            | content
          li
            a(href="#" ng-click="vm.activeView = 'posts'")
              i.icon-book
              span
                |  Posts
          li
            a(href="#" ng-click="vm.activeView = 'categories'")
              i.icon-shopping
              span
                |  Categories
          li
            a(href="#" ng-click="vm.activeView = 'images'")
              i.icon-image
              span
                |  Images
          li.header
            | Analytics
          li
            a(href="#" ng-click="vm.activeView = 'statistics'")
              i.icon-bar-graph
              span
                |  Statistics
    .content-wrapper(ng-if="vm.activeView == 'posts'" ng-cloak)
      include create-posts.pug

    .content-wrapper(ng-if="vm.activeView == 'categories'" ng-cloak)
      include edit-categories.pug

    .content-wrapper(ng-if="vm.activeView == 'images'" ng-cloak)
      include image-gallery.pug
    .content-wrapper(ng-if="vm.activeView == 'statistics'" ng-cloak)
      include admin-stats.pug
