<div class="container__aside">
  <div class="aside__avatar">
      <img src="/images/avatars/avatar.jpg" width="120" height="120" alt="David Baker">
  </div>
  <div class="aside__legend">
      David Baker
      <div class="small">Frontend Developper</div>
  </div>
  <div class="aside__social-links">
      <a href="skype:david.a.baker85?chat" role="button" type="button" target="_self" class="btn btn-icon  small">
          <i class="icon-skype-with-circle"></i>
      </a>
      <a href="https://github.com/DBaker85" role="button" type="button" target="_blank" class="btn btn-icon  small">
          <i class="icon-github-with-circle"></i>
      </a>
      <a href="https://mu.linkedin.com/in/davidbakerfront" role="button" type="button" target="_blank" class="btn btn-icon  small">
          <i class="icon-linkedin-with-circle"></i>
      </a>
      <a href="https://twitter.com/davidbaker85" role="button" type="button" target="_blank" class="btn btn-icon  small">
          <i class="icon-twitter-with-circle"></i>
      </a>
  </div>
  <div class="aside__legend">
      <div class="small">A blog about coding, programming and various things. Build on NodeJs using ExpressJS, Jade and Db'ing in MongoDB</div>
  </div>
  <div class="aside__twitter"></div>
</div>
