include ../_base/components.pug

.post
  .post__content.box.box8(data-expand="true",data-theme="1",*ngFor="let article of articles")
    article
      .post__title(ng-if="article.cover")
        //- img.img-responsive(ng-src="./images/articles/{{post.urlSlug}}/cover/{{post.cover}}" alt="{{post.title}}")
      .post__title
        h2 {{article.title}}
        .date
          .date__icon
            +icon({
              icon:'clock'
            })
          .date__text
            .big {{article.date | date : 'EEE'}}
            .small {{article.date | date : 'dd/mm/yy'}}
      .small(ng-if="article.editdate")
        | last edited on {{post.editdate | date : 'EEE, dd/mm/yyyy'}}
      div('[innerHTML]'="article.body")
      .tag.small('(click)'="postCtrl.selectedCategory=post.category; postCtrl.fetchposts(0)")
        i.icon-shopping
        |  {{article.category}}
