extends ../_base/layout.pug

block content

  .container
    .container__aside
      include aside
    .container__main-content
      article
        h1 About this blog
        .main-content__posts
          .post__content
            include:markdown ../../content/about.html


