extends ../_base/layout.pug

block content
  .container(ng-controller="ContentController as vm")
    .row
      +box({
        "size":"small"
      })
        | search
      +box({
        "size":"small"
      })
        | menu
    .row
      .row__main
        post-bloc
      .row__sidebar
        content-tiles(ng-repeat="tile in vm.tiles")



