blockquote {
    background-color: lighten($color-pink, 50);
    margin: 1.5em 10px;
    padding: 20px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: $color-pink;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }