$color-white: #FFFFFF;

// #d81e5b vibrant pink
$color-primary: $main-color;

// cream sort of color
$color-pale: lighten(desaturate(adjust-hue($color-primary, -291.4337), 41.4325), 36.2745);

// blue
$color-secondary: lighten(desaturate(adjust-hue($color-primary, -121.4260), 2.7454), 12.7451);

// pale pink
$color-tertiary: darken(desaturate(adjust-hue($color-primary, -65.7771), 52.2055), 20.5882);

// brown
$color-dark:  darken(desaturate(adjust-hue($color-primary, -306.4095), 52.8375), 28.4314);

$color-dark-lighter: darken(desaturate(adjust-hue($color-primary, -340.3226), 75.1220), 8.0392);
$color-dark-lightest: lighten(desaturate(adjust-hue($color-primary, -340.3226), 75.6098), 23.5294);

$color-disabled : $color-dark-lightest;

$color-text: $color-dark;

$color-list: $color-primary $color-secondary $color-tertiary;

$color-success: #78ce2c;
$color-danger: #db5461;
$color-warning: #e3c417;
$color-info: #00adb5;

$color-monokai-blue : #66d9ef;
$color-monokai-background : #272822;
