// #d81e5b vibrant pink
$color-pink: #d81e5b;

// not sure to use this
$color-green: #d81e5b;

$color-white: #FFFFFF;

$color-background-dark: #292929;
$color-text-dark: #FFFFFF;

$color-background-light: #292929;
$color-text-light: #1a1a1a;

$color-disabled : #cccccc;

$color-list: #d81e5b darken(#d81e5b,10) darken(#d81e5b,20);

$color-success: #78ce2c;
$color-danger: #db5461;
$color-warning: #e3c417;
$color-info: #00adb5;

$color-monokai-blue : #66d9ef;
$color-monokai-background : #272822;
