@include declare-font-face('sura', 'sura-bold-webfont', fonts, $font-weight: bold, $font-style: normal, $font-stretch: normal);
@include declare-font-face('sura', 'sura-regular-webfont', fonts, $font-weight: normal, $font-style: normal, $font-stretch: normal);
@include declare-font-face('work_sans', 'worksans-regular-webfont', fonts, $font-weight: normal, $font-style: normal, $font-stretch: normal);
@include declare-font-face('work_sans', 'worksans-semibold-webfont', fonts, $font-weight: bold, $font-style: normal, $font-stretch: normal);


body {
	font-family:  'work_sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  &.dark {
    color: $color-text-dark;
  }
  &.light {
    color: $color-text-light;
  }
}

p {
	margin: 12px 0;
}

$headings: 42px 34px 28px 22px 18px 14px;
@each $heading in $headings{
    $i: index($headings, $heading);
    h#{$i} {
      font-size: $heading;
      font-family: 'sura', serif;
      color: #cd6699;
      line-height: 1.5;
      margin: 10px 0 30px 0;
      }
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.small {
  font-size: 12px;
}

%serif {
  font-family: 'sura', serif;
}

%icons {
  font-family: 'icomoon';
}

pre {
  font-size: 14px;
}

code {
  font-size: 14px;
  background-color: $color-monokai-background;
  color: $color-monokai-blue;
  padding: 2px 5px;
}

