doctype html

html(lang="en", dir="ltr")
	include head
	include components

body.light(ng-app="BloggingApp")
	if admin != true
		include ../_base/nav.pug

	block content

	footer
		.footer__line
			.line
		.footer__content.small
			each line in content.footer
				p !{marked(line)}
	.cookie-banner(ng-controller="CookieBannerController as cookieCtrl" class="{{cookieCtrl.showBanner?'open':''}}")
		p.text
			| This site uses cookies to improve the overall user experience. You can read
			a(href="#")
				| my cookie policy here
		+button({
            type:'primary',
            text:'Accept and close',
            attributes:{
              'ng-click':'cookieCtrl.acceptCookies()'
            }
        })

	include footer-scripts
