%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mobile-only {
	@include media(desktop){
		display: none;
	}

}

.desktop-only {
  display: none;
  @include media(desktop){
    display: block;
  }
}

.is-lazy-loading {
    position: relative;
    animation: rotate 2s linear infinite;
    width: 30px;
    height: 30px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: rotate 1000ms infinite linear;
}

.sr-only{
  display: none;
}

.text-left{
  text-align: left;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
