include ../_base/components.pug

.tile(data-expand="{{expand}}" data-theme="{{theme}}")
  .tile__content(ng-switch="type")
    .tile__image(ng-switch-when="image")
      img(src="images/tiles/{{image}}.jpg" title="" width="100%" height="100")
    .tile__icon(ng-switch-when="icon")
      +icon({
          icon:'{{icon}}'
        })
    .tile__description
      | {{title}}
.tile__expander
  .expanded__content
    | {{content}}

