include ../_base/components.pug

.box.box2(data-expand="{{tile.expand}}" data-theme="{{tile.theme}}")
  .content
    if icon
      .icon
        i()
    if img
      .image
        img()
    .title
      | {{tile.title}}
