include ../_base/components.pug

.tile(data-expand="{{tile.expand}}" data-theme="{{tile.theme}}")
  .content
    if img
      .image
        img()
    else
      +icon({
          icon:'{{tile.icon}}'
        })
    .title
      | {{tile.title}}
