.aside__avatar{
	text-align: center;
	img {
	border-radius: 100px;
	}
}
.aside__legend{
	text-align: center;
	margin-top: 5px;
	.menu-content & {
		color: $color-pale;
	}
}
.aside__social-links {
	text-align: center;
	margin-top: 30px;
	.menu-content & {
		color: $color-pale;
		.btn-icon {
			color: $color-pale;

		}
		.btn-icon:hover{
			color: $color-primary;
		}
	}
}
.aside__twitter {
	margin-top: 60px;
}

.aside__legend {
	text-align: center;
	.menu-content & {
		color: $color-pale;
	}
}
