
.menu{

	padding: 60px 10px 10px 10px;

	.menu__container{
		list-style-type: none;

		/*
		 * metismenu - v2.2.0
		 * A jQuery menu plugin
		 * https://github.com/onokumus/metisMenu#readme
		 *
		 * Made by Osman Nuri Okumuş <onokumus@gmail.com> (https://github.com/onokumus)
		 * Under MIT License
		 * With revisited classes
		 */
		.collapse {
			display: none;
		}
		.collapse.in {
			display: block;
		}
		.collapsing {
			position: relative;
			height: 0;
			overflow: hidden;
			transition-timing-function: ease;
			transition-duration: .35s;
			transition-property: height, visibility;
		}


		.menu__first-level{
			line-height: 30px;
			border-bottom: 1px solid rgba($color-pink,0.3);
			// color: $color-pale;

			.icon-chevron-thin-right {
				transition: transform .3s cubic-bezier(.17, .9, .66, 1.57);
				display: inline-block;
				transform: rotate(0deg);
				float: right;
				line-height: 30px;
			}
			a.link {
				// color: $color-pale;
				text-decoration: none;
				text-align: left;
				display: block;
				width:100%;
				line-height: 30px;
				padding: 5px;
				&:hover{
					background-color: $color-pink;
					border-radius: $border-radius-main;
					overflow: hidden;
				}
			}
			&.active {
				.icon-chevron-thin-right{
					transform: rotate(90deg)
				}
			}

		}


	}

}



.aside__avatar{
	text-align: center;
	img {
	border-radius: 100px;
	}
}
.aside__legend{
	text-align: center;
	margin-top: 5px;
	.menu-content & {
		// color: $color-pale;
	}
}
.aside__social-links {
	text-align: center;
	margin-top: 30px;
	.menu & {
		// color: $color-pale;
		.btn-icon {
			// color: $color-pale;

		}
		.btn-icon:hover{
			color: $color-pink;
		}
	}
}
.aside__twitter {
	margin-top: 60px;
}

.aside__legend {
	text-align: center;
	.menu-content & {
		// color: $color-pale;
	}
}



