.nav{
	background-color: $color-dark;
	width: 100%;
	display: fixed;
	top:0;
	left:0;
	height: 50px;
	box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.25);
	z-index: 10000;
	position: fixed;

	.nav__container{
		width: 100%;
		padding: 5px 10px;
		max-width: $site-width;
		margin: 0 auto;
		@extend %clearfix;
	}
	.nav__logo{
		color: $color-pale;
		float: left;
		height: 40px;
		line-height: 40px;
		a {
			color: $color-pale;
			&:hover{
				filter: sepia(1);
			}
		}
	}
	.nav__title{
		color: $color-pale;
		float: left;
		line-height: 40px;
		margin-left: 15px;
		.title {
			color: $color-primary;
			font-size: 16px;
			@include media(desktop){
				font-size: 22px;
			}
		}
		.tagline {
			display: none;
			@include media(desktop){
				display: inline;
			}
		}

	}
	.nav__actions{
		float: right;
	}

	.nav__search-container{
		height: 100%;
		display: inline-block;
		label{
			display: inline-block;
		}
		}

	.nav__menu-container{
		height: 100%;
		display: inline-block;


	}
}
